.example-spacer {
	flex: 1 1 auto;
}

.icon {
	margin-right: 20px;
}

.time {
	font-size: x-large;
}

.date {
	font-size: initial;
}

.card {
	width: 100%;
	height: 100%;
}

.mat-grid-tile-header {
	background-color: lightgray !important;
}

.mat-grid-tile {
	background-color: lightgray;
}

.header {
	margin-left: 85% !important;
	color: black;
}

.title_icon {
	margin-right: 20px;
}