<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <h1 class="title"> {{title}}</h1>
    <div class="centrdiv">
      <mat-form-field>
        <input matInput placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="div_padding" style="margin-top: 20%;">
      <p class="centr">My Dashboard</p>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let item of dataList">
          <mat-card class="menuStyle" style="width: 100%;">
            <mat-icon style="margin-right: 20px;">reorder</mat-icon>
            <span>{{item}}</span>
            <div style=" float: right;">
              <a href=""><mat-icon>stars</mat-icon></a>
              <mat-icon class="closebtn">close</mat-icon>
            </div>
          </mat-card>
        </mat-list-item>
      </mat-list>
      <div class="centre">
        <mat-icon class="whiteBackground">add_circle</mat-icon>
      </div>
    </div>
    <div class="div_padding" style="margin-top: 60%;">
      <p class="centr">
        Shared
        <span>
          <mat-icon>group</mat-icon>
        </span>
      </p>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let item of sharedList">
          <mat-card class="menuStyle" style="width: 100%;">
            <mat-icon style="margin-right: 20px;">reorder</mat-icon>
            <span>{{item}}</span>
            <div style=" float: right;">
              <a href="">
                <mat-icon>stars</mat-icon>
              </a>
              <a href="">
                <mat-icon class="closebtn">close</mat-icon>
              </a>
            </div>
          </mat-card>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon class="icon">menu</mat-icon>
      <mat-icon class="icon">search</mat-icon>
      <span class="spacer"></span>
      <button class="menuButton" mat-raised-button color="primary" routerLink="/"
        routerLinkActive="active">Dashboard</button>
      <button class="menuButton" mat-raised-button color="primary">Play Area</button>
      <button class="menuButton" mat-raised-button color="primary">Widget</button>
      <button class="menuButton" mat-raised-button color="primary">Templates</button>
      <button class="menuButton" mat-raised-button color="primary">Data Locker</button>
      <span class="spacer"></span>
      <mat-icon class="icon">notifications</mat-icon>
      <mat-icon class="icon">account_circle</mat-icon>
      <mat-icon>more_vert</mat-icon>
    </mat-toolbar>
    <nav>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- i didn't have added link for any of icon here -->